<nav class="sidebar">
  <div class="sidebar-sticky">
    <div class="sidebar-header">
      <img class="sidebar-logo" src="assets/img/logo.png" />
      <div class="title">Introduction to Bioinformatics: Assembly and Annotation Hands-On</div>
      <div class="version">v1.0</div>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" (click)="scrollTo('#1-quality-control')" >Quality Control</a>
        <ul class="nav flex-column">
          <li class="nav-subitem">
            <a class="nav-link" (click)="scrollTo('#1-1-setting-up')">Setting Up</a>
          </li>
          <li class="nav-subitem">
            <a class="nav-link" (click)="scrollTo('#1-2-running-quality-control')">Running Quality Control</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollTo('#2-genome-assembly')">Genome Assembly</a>
        <ul class="nav flex-column">
          <li class="nav-subitem">
            <a class="nav-link" (click)="scrollTo('#2-1-assembly')">Assembly</a>
          </li>
          <li class="nav-subitem">
            <a class="nav-link" (click)="scrollTo('#2-2-quality-assessment')">Quality Assessment</a>
          </li>
          <li class="nav-subitem">
            <a class="nav-link" (click)="scrollTo('#2-3-mapping-reads-to-assembly')">Mapping Reads to Assembly</a>
          </li>
          <li class="nav-subitem">
            <a class="nav-link" (click)="scrollTo('#2-4-visualization')">Visualization</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollTo('#3-genome-annotation')">Genome Annotation</a>
        <ul class="nav flex-column">
          <li class="nav-subitem">
            <a class="nav-link" (click)="scrollTo('#3-1-setting-up')">Setting Up</a>
          </li>
          <li class="nav-subitem">
            <a class="nav-link" (click)="scrollTo('#3-2-running-annotation')">Running Annotation</a>
          </li>
          <li class="nav-subitem">
            <a class="nav-link" (click)="scrollTo('#3-3-visualization')">Visualization</a>
          </li> 
        </ul>
      </li>
    </ul>
  </div>
</nav>
