<nav class="sidebar">
  <div class="sidebar-header">
    <img class="sidebar-logo" src="assets/img/logo.png" />
    <div class="title">Introduction to Bioinformatics: Assembly and Annotation Hands-On</div>
    <div class="version">v1.0</div>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link">Quality Control</a>
    </li>
    <li class="nav-subitem">
      <a class="nav-link">Setting Up</a>
    </li>
    <li class="nav-subitem">
      <a class="nav-link">Running Quality Control</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Genome Assembly</a>
    </li>
    <li class="nav-subitem">
      <a class="nav-link">Assembly</a>
    </li>
    <li class="nav-subitem">
      <a class="nav-link">Quality Assessment</a>
    </li>
    <li class="nav-subitem">
      <a class="nav-link">Mapping Reads to Assembly</a>
    </li>
    <li class="nav-subitem">
      <a class="nav-link">Visualization</a>
    </li>
    <li class="nav-subitem">
      <a class="nav-link">Visualization</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Genome Annotation</a>
    </li>
    <li class="nav-subitem">
      <a class="nav-link">Setting Up</a>
    </li>
    <li class="nav-subitem">
      <a class="nav-link">Running Annotation</a>
    </li>
    <li class="nav-subitem">
      <a class="nav-link">Visualization</a>
    </li>
  </ul>
</nav>
